<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community Created</title>
</head>
<body>
  <h1>Community "<%= community.communityName %>" Created Successfully!</h1>

  <a href="/tchr/chat/<%= community._id %>" class="btn btn-primary">Go to Chat Room</a>

  <a href="/tchr/comm-login">Back to Dashboard</a>
</body>
</html>
