<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guided Resonance system</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/introjs.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/intro.min.js"></script>
  <link rel="stylesheet" href="/css-file/Resonance.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
    <div id="tourContainer">
        <button id="startTourBtn" class="tour-button">Start Tour</button>
      </div>

      <canvas id="ResonanceTubeCanvas" data-intro="Experiment method: Adjust the input and other elements and bring the fork near the top end of the tube and at first resonance point the sound will be heard." data-step="1"></canvas>
   
      <div class="controls">
    <div class="input-group" data-intro="Adjust the slider to change the position of tube in the beaker" data-step="2">
      <label for="tubePosition">Tube position: </label>
      <div class="limits">
        <span>100</span>
        <span>260</span>
      </div>
      <div class="arrow-buttons">
        <button id="tubePosition-decrease">◄</button>
        <input type="range" id="tubePosition" min="100" max="260" value="100" step="5" />
        <button id="tubePosition-increase">►</button>
      </div>
      <div class="input-value" id="tubePosition-value">150</div>
    </div>

    <div class="input-group" data-intro="Adjust the slider to change the diameter of the tube" data-step="3">
      <label for="tube-diameter">Tube Diameter(cm): </label>
      <div class="limits">
        <span>1</span>
        <span>40</span>
      </div>
      <div class="arrow-buttons">
        <button id="diameter-decrease">◄</button>
        <input type="range" id="tube-diameter" min="1" max="40" value="5" step="1" />
        <button id="diameter-increase">►</button>
      </div>
      <div class="input-value" id="diameter-value">1 cm</div>
    </div>

    <div class="input-group" data-intro="Fork's frequency will be changed from this input button" data-step="4">
      <label for="frequency">Fork frequency(Hz): </label>
      <div class="limits">
        <span>1</span>
        <span>512</span>
      </div>
      <div class="arrow-buttons">
        <button id="frequency-decrease">◄</button>
        <input type="range" id="Frequency" value="230" min="1" max="512" step="1">
        <button id="frequency-increase">►</button>
      </div>
      <div class="input-value" id="frequency-value">230 cm</div>
    </div>
      
    <button class="controls-button" id="startVibration" data-intro="Click the button to start vibrations of fork." data-step="5">Vibrate</button>
    <button id="reset" class="controls-button reset-button" data-intro="Click the button to reset the experiment." data-step="15"> Reset</button>
  </div>

  <div class="output-container" data-intro="see the outputs of the experiment from here." data-step="9">
    <div class="display">
      Length: <span id="length">0.0 cm</span>
    </div>
    <div class="display">
      Diameter:  <span id="diameterDis">0.0 cm</span>
    </div>
    <div class="display">Calculated frequency: <span id="Cal-freq">0 Hz</span></div>
    <div class="display">Sound Velocity: <span id="sound-velocity">0 cm/s</span></div>
  </div>
  <div class="canvasButton"  data-intro="Click the buton to show the table." data-step="10">
    <button id="addValuesBtn">Add Values</button>
  </div>
  <div class="exp-tools"  data-intro="Experiment container." data-step="8">
    <div class="clamp-stand"></div>
    <div class="clamp-holder" id="clampHolder"></div>
    <div class="beaker">
      <div class="water"></div>
    </div>
    <div class="tube" id="tube">
      <div class="tube-water" id="tubeWater"></div>
    </div>
    <div class="base"></div>
  </div>

      <div class="tuning-fork" id="tuningFork" data-intro="Drag the fork to bring it near to tube" data-step="14">
          <div class="prong-container">
              <div class="prong"></div>
              <div class="prong"></div>
          </div>
          <div class="handle"></div>
      </div>
      

  <div id="length-vs-freq-chart" data-intro="Graph to visualise the changes(length over frequency)." data-step="12">
    <canvas id="lengthFreqChart"></canvas>
</div>

 
  
  <div class="checkBoxex" data-intro="Click ion to show the scale on the screen." data-step="11">
    <img
    id="rulerIcon"
    src="/images/ruler.jpg"
    alt="Ruler Icon"
    style="cursor: pointer; width: 32px;"
  />
  
  </div>

 

  
  <div class="forks" data-intro="Different frequencies of fork are given. Click on a fork to select." data-step="7">
    <div class="tuning-fork3" id="fork1" frequency="320">
      <label>320</label>
      <div class="prong-container">
          <div class="prong"></div>
          <div class="prong"></div>
      </div>
      <div class="handle"></div>

    </div>
    <div class="tuning-fork2" id="fork2" frequency="256">
      <label>256</label>
      <div class="prong-container">
          <div class="prong"></div>
          <div class="prong"></div>
      </div>
      <div class="handle"></div>
    </div>
    <div class="tuning-fork1" id="fork3" frequency="150">
      <label>150</label>
      <div class="prong-container">
          <div class="prong"></div>
          <div class="prong"></div>
      </div>
      <div class="handle"></div>
    </div>
    <div class="tuning-fork4" id="fork4" frequency="512">
      <label>512</label>
      <div class="prong-container">
          <div class="prong"></div>
          <div class="prong"></div>
      </div>
      <div class="handle"></div>
    </div>
  </div>

  <div id="tableContainer" style="display: none">
    <table>
      <thead>
        <tr>
          <th>Frequency of tunning fork(Hz)</th>
          <th>Position of water Level(Y):</th>
          <th>Diameter of tube(D):</th>
          <th>Length of airColumn(l1=y-x):</th>
          <th>Length of Rosonant air(l= l1+0.3D)</th>
          <th>WaveLength(λ=4l): </th>
          <th>Room temperature(t):</th>
          <th>Velocity at t°(V=fλ):</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="number" name ="freq1" placeholder="Enter value"  min="0" 
            max="1000" step="0.01" /></td>
          <td><input type="number" name="waterLevel1" placeholder="Enter value"  min="0" 
            max="100" step="1"/></td>
          <td><input type="number" name="diameter1" placeholder="Enter value"  min="0" 
            max="100" step="0.01" /></td>
          <td><input type="number" name="airColumn1" placeholder="Enter value"  min="0" 
            max="150" step="0.01" /></td>
          <td><input type="number" name="correctLength1" placeholder="Enter value"  min="0" 
            max="500" step="0.01" /></td>
          <td><input type="number" name="waveLength1" placeholder="Enter value"  min="-1000" 
            max="1000" step="0.01" /></td>
          <td><input type="number" name="temp1" placeholder="Enter value"  min="-100" 
            max="100" step="0.01" /></td>
          <td><input type="number" name="velocity1" placeholder="Enter value"  min="-1000" 
            max="1000" step="0.01" /></td>
        </tr>
        <tr>
          <td><input type="number" name ="freq2" placeholder="Enter value"  min="0" 
            max="1000" step="0.01" /></td>
          <td><input type="number" name="waterLeve2" placeholder="Enter value"  min="0" 
            max="100" step="1"/></td>
          <td><input type="number" name="diameter2" placeholder="Enter value"  min="0" 
            max="100" step="0.01" /></td>
          <td><input type="number" name="airColumn2" placeholder="Enter value"  min="0" 
            max="150" step="0.01" /></td>
          <td><input type="number" name="correctLength2" placeholder="Enter value"  min="0" 
            max="500" step="0.01" /></td>
          <td><input type="number" name="waveLength2" placeholder="Enter value"  min="-1000" 
            max="1000" step="0.01" /></td>
          <td><input type="number" name="temp2" placeholder="Enter value"  min="-100" 
            max="100" step="0.01" /></td>
          <td><input type="number" name="velocity2" placeholder="Enter value"  min="-1000" 
            max="1000" step="0.01" /></td>
        </tr>
        <tr>
          <td><input type="number" name ="freq3" placeholder="Enter value"  min="0" 
            max="1000" step="0.01" /></td>
          <td><input type="number" name="waterLevel3" placeholder="Enter value"  min="0" 
            max="100" step="1"/></td>
          <td><input type="number" name="diameter3" placeholder="Enter value"  min="0" 
            max="100" step="0.01" /></td>
          <td><input type="number" name="airColumn3" placeholder="Enter value"  min="0" 
            max="150" step="0.01" /></td>
          <td><input type="number" name="correctLength3" placeholder="Enter value"  min="0" 
            max="500" step="0.01" /></td>
          <td><input type="number" name="waveLength3" placeholder="Enter value"  min="-1000" 
            max="1000" step="0.01" /></td>
          <td><input type="number" name="temp3" placeholder="Enter value"  min="-100" 
            max="100" step="0.01" /></td>
          <td><input type="number" name="velocity3" placeholder="Enter value"  min="-1000" 
            max="1000" step="0.01" /></td>
        </tr>
      </tbody>
    </table>
    <button id="saveInDB">Save Data</button>
  </div>

  <div class="navigation-bar">
    <div class="home-button">
      <a href="/home"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBhdGggZD0iTTMgOWw5LTcgOSA3djExYTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0yeiI+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9IjkgMjIgOSAxMiAxNSAxMiAxNSAyMiI+PC9wb2x5bGluZT48L3N2Zz4=" alt="Home" /></a>
    </div>
    <div class="tabs">
      <a href="/exp/inclineExp" class="tab active" data-section="intro">Custom</a>
      <a href="/guided/inclineExp" class="tab" data-section="balance-lab">Guided Lab</a>
      <a href="/std/resource/5" class="tab" data-section="game">Resources</a>
    </div>
    <div class="logo">
      <img src="/images/R.jpeg" alt="CUI logo" />
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="chart-config.js"></script>
<script src="/js/Resonance.js"></script>
<script src="/js/start-tour.js"></script>
</body>
</html>

