<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quizes</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Unicat project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/bootstrap4/bootstrap.min.css"
    />
    <link
      href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/plugins/OwlCarousel2-2.2.1/animate.css"
    />
    <link rel="stylesheet" type="text/css" href="/css-file/main_quiz.css" />
    <link rel="stylesheet" type="text/css" href="/css-file/responsive.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"
    />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> -->

    <link rel="stylesheet" href="/css-file/tchrConsole.css">
    <style>
.body{
background-color: rgb(5, 5, 63);
}</style>
  </head>
  <body>
    <div class="super_container">
      <!-- Header -->

      <header class="header">
        <!-- Top Bar -->
        <!-- <div class="top_bar">
          <div class="top_bar_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div
                    class="top_bar_content d-flex flex-row align-items-center justify-content-start"
                  >
                    <ul class="top_bar_contact_list">
                      <li>
                        <div class="question">
                          <img
                            src="/images/R.jpeg"
                            class="rounded"
                            alt="logo"
                            height="30px"
                            width="30px"
                          />
                        </div>
                      </li>
                      <li>
                        <i class="fa" aria-hidden="true"></i>
                        <div>Comsats University Islamabad Attock Campus</div>
                      </li>
                    </ul>
                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Header Content -->
        <div class="header_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div
                  class="header_content d-flex flex-row align-items-center justify-content-start">
                  <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <li>
                      <a href="/tchr/tchrConsole" style="display: flex; align-items: center; text-decoration: none;  font-size: 30px;">
                        <i class="fa fa-arrow-left" style="margin-bottom: 30px; padding: 10px;""></i>
                        <!-- <i class="fas fa-arrow-left"></i>  -->
                      </a>
                    </li>
                    <img src="/images/R.jpeg" class="uniLogo" alt="UniLogo">
                  <div class="logo_container">
                    <a href="#">
                      <div class="logo_text">Physics<span>Verse</span></div>
                    </a></div>
                  </div>
                 
                  <nav class="main_nav_contaner ml-auto">
                    <ul class="main_nav">
                    
                     
                    </ul>>
                   
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Header Search Panel -->
        <!-- <div class="header_search_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div
                  class="header_search_content d-flex flex-row align-items-center justify-content-end"
                >
                  <form action="#" class="header_search_form">
                    <input
                      type="search"
                      class="search_input"
                      placeholder="Search"
                      required="required"
                    />
                    <button
                      class="header_search_button d-flex flex-column align-items-center justify-content-center"
                    >
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </header>

      <!-- Menu -->

      <!-- <div
        class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400"
      >
        <div class="menu_close_container">
          <div class="menu_close">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="search">
          <form action="#" class="header_search_form menu_mm">
            <input
              type="search"
              class="search_input menu_mm"
              placeholder="Search"
              required="required"
            />
            <button
              class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm"
            >
              <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
          </form>
        </div> -->
        <!-- <nav class="menu_nav">
          <ul class="menu_mm">
            <li class="menu_mm"><a href="index.html">Home</a></li>
            <li class="menu_mm"><a href="#">About</a></li>
            <li class="menu_mm"><a href="#">Courses</a></li>
            <li class="menu_mm"><a href="#">Blog</a></li>
            <li class="menu_mm"><a href="#">Page</a></li>
            <li class="menu_mm"><a href="contact.html">Contact</a></li>
          </ul>
        </nav> -->

      <!-- Home -->

      <!--------Coursess-->

      <!-- Team -->

      <div class="team team-quiz">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container text-center">
                <h2 class="section_title">Assessment Corner</h2>
              </div>
            </div>
          </div>
          <div class="row team_row d-flex justify-content-center align-items-center">
            <!-- Team Item -->

            <!-- Team Item -->
            <a href='/tchr/submit-quiz'>
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image">
                  <img src="/images/quiz.jpg" alt="" />
                </div>
                <div class="team_body">
                  <div class="team_title">
                   Create Quiz</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="/tchr/quiz-results">
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image">
                  <img src="/images/editquiz.jpg" alt="" />
                </div>
                <div class="team_body">
                  <div class="team_title">
                   Check Results</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team Item -->

            <!-- Team Item -->
            <a href="/tchr/manage-quizzes">
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image">
                  <img src="/images/createquiz.jpg" alt="" />
                </div>
                <div class="team_body">
                  <div class="team_title">
                View Quiz</a>
                  </div>
               
                
                  <!-- <div class="team_subtitle">Math & Physics</div> -->
                  <!-- <div class="social_list">
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div> -->
                </div>
              </div>
            </div>
            <a href="/tchr/experiments">
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image">
                  <img src="/images/accessperformance.jpg" alt="" />
                </div>
                <div class="team_body">
                  <div class="team_title">
                Show Performance</a>
                  </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <!-- Features -->

      <!-- Features -->

      <div class="partners">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="partners_slider_container">
                <div class="owl-carousel owl-theme partners_slider">
                  <!-- Partner Item -->
                  <div class="owl-item partner_item">
                    <img src="/images/partner_1.png" alt="" />
                  </div>

                  <!-- Partner Item -->
                  <div class="owl-item partner_item">
                    <img src="/images/partner_2.png" alt="" />
                  </div>

                  <!-- Partner Item -->
                  <div class="owl-item partner_item">
                    <img src="/images/partner_3.png" alt="" />
                  </div>

                  <!-- Partner Item -->
                  <div class="owl-item partner_item">
                    <img src="/images/partner_4.png" alt="" />
                  </div>

                  <!-- Partner Item -->
                  <div class="owl-item partner_item">
                    <img src="/images/partner_5.png" alt="" />
                  </div>

                  <!-- Partner Item -->
                  <div class="owl-item partner_item">
                    <img src="/images/partner_6.png" alt="" />
                  </div>
                </div>
                <div class="social_list">
                  <ul>
                    <!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Popular Courses -->

      <!-- Footer -->

      <footer class="footer">
        <div class="footer_background" style="background-image: url(/images/footer_background.png)"></div>
        <div class="container">
          <div class="row footer_row">
            <!-- About Section -->
            <div class="col-lg-4 col-md-6 footer_col">
              <div class="footer_section footer_about">
                <div class="footer_logo_container">
                  <a href="#">
                    <div class="footer_logo_text">Physics<span>Verse</span></div>
                  </a>
                </div>
                <div class="footer_about_text">
                  <p>A virtual physics Lab. Explore the wonders of physics with PhysicsVerse.</p>
                </div>
                <div class="footer_social">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
    
            <!-- Useful Links Section -->
            <div class="col-lg-3 col-md-6 footer_col">
              <div class="footer_section footer_links">
                <div class="footer_title">Useful Links</div>
                <div class="footer_links_container">
                  <ul>
                    <li><a href="#" id="footer_home">Home</a></li>
                    <li><a href="#" id="footer_about">About Us</a></li>
                    <!-- <li><a href="#" id="footer_courses">Experiments</a></li> -->
                    <li><a href="#" id="footer_contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="col-lg-5 col-md-12 footer_col">
              <div class="footer_section footer_contact">
                <div class="footer_title">Contact Us</div>
                <div class="footer_contact_info">
                  <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Tuba Jabeen | Isha Eman</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +92-3345605064 | +92-3019575969</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> fa21-bcs-033@cuiatk.edu.pk |
                      fa21-bcs-046@cuiatk.edu.pk</li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- Close footer_row -->
    
          <!-- Copyright Section -->
          <div class="row">
            <div class="col">
              <div class="footer_copyright">
                <p>&copy; 2025 PhysicsVerse. All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    </div>
    
    <!-- jQuery (make sure this is above Bootstrap JS) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JS Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Local JavaScript files -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap4/popper.js"></script>
    <script src="/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/parallax-js-master/parallax.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="/js/custom.js"></script>
  </body>
</html>
