
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update Account</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Unicat project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css" />
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css" />
    <link rel="stylesheet" type="text/css" href="/css-file/main_styles.css" />
    <link rel="stylesheet" type="text/css" href="/css-file/responsive.css" />
	<!-- <link rel="stylesheet" href="/signup.css"> -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-seo-dream.css">
	<link rel="stylesheet" href="/css-file/tchrConsole.css">
  <link rel="stylesheet" href="/assets/css/animated.css">
  <link rel="stylesheet" href="/assets/css/owl.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="/css-file/update.css">
<style>
  .back{
    /* float: right; */
    padding-left: 400px;
    margin-left: 300px;
    /* margin: 10px;
    padding: 8px 15px; */
    display: inline-block;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }
  .back a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.back i {
    margin-right: 8px; /* Space between icon and text */
    font-size: 20px;
}
.label{
  color: white;
}

</style>
  </head>
  <body>
    <div class="super_container">
      <!-- Header -->

      <header class="header">
        <!-- Header Content -->
        <div class="header_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                  <img src="/images/R.jpeg" class="uniLogo" alt="UniLogo">
                  <div class="logo_container">
                    <a href="#">
                      <div class="logo_text">Physics<span>Verse</span></div>
                    </a>
                    <div class="back">
                      <a href="/tchr/tchrConsole">
                      <i class="fas fa-home"></i></a></div>
                  </div>
      
        <!-- Header Search Panel -->
     
      </header>

      <!-- Menu -->

   
      
      </div>

      <!-- Home -->
     
    <!--------Coursess-->

  <!-- Team -->

	
    <!-- Features -->

    <div class="features">
      
        <div class="container">
			<div class="row d-flex justify-content-center align-items-center">
			  <div class="col-md-6 col-sm-10 mx-auto p-0">
				<div class="card">
                    <div class="login-snip">
                            <!-- Sign Up Form -->
                            <div class="sign-up-form container">
                              <form action="/tchr/setting" method="post" enctype="multipart/form-data" id="updateForm" class="p-4 shadow rounded">
                                <h3 class="text-center mb-4">Update Account</h3>
                            
                                <!-- Current Details (Read-only fields) -->
                                <div class="group">
                                  <label for="current_name" class="label">Current Username </label>
                                  <input id="full_name" name="full_name" type="text" class="input form-control" value="<%= fname %> <%= lname %>" readonly>
                                </div>
                          
                              <!-- Editable Fields -->
                              <div class="group">
                                  <label for="fname_1" class="label">Enter new First Name </label>
                                  <input id="fname_1" name="fname_1"  class="input form-control" placeholder="Enter First name ">
                              </div>
                              <div class="group">
                                <label for="fname_1" class="label"> Enter new Last name </label>
                                <input id="lname_1" name="lname_1"  class="input form-control" placeholder="Enter last name ">
                            </div>
                                <div class="group">
                                    <label for="pwd_1" class="label">New Password</label>
                                    <input id="pwd_1" name="pwd_1" type="password" class="input form-control" placeholder="Enter new password">
                                </div>
                                <div class="group">
                                    <label for="pwd_2" class="label">Confirm Password</label>
                                    <input id="pwd_2" name="pwd_2" type="password" class="input form-control" placeholder="Confirm new password">
                                </div>
                                <div class="group">
                                    <label for="pic_1" class="label">Upload Image</label>
                                    <input type="file" id="pic_1" name="pic_1" class="form-control">
                                </div>
                            
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary">Update Account</button>
                                </div>
                          
                            
                                <!-- Error Messages -->
                              
                                <!-- Submit Button -->

                            </form>
                            
                                
                            </div>
                            
                        </div>
                            
                          
                        </div>
                    </div>
                </div>
                
  
			  </div>
			</div>
		  </div>
		  
      </div>
      <!-- Features -->


      <div class="partners">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="partners_slider_container">
						<div class="owl-carousel owl-theme partners_slider">

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/partner_1.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/partner_2.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/partner_3.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/partner_4.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/partner_5.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/partner_6.png" alt=""></div>

						</div>
                        <div class="social_list">
                            <ul>
                                <!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>


      <!-- Popular Courses -->

      <!-- Footer -->

    	<footer class="footer">
        <div class="footer_background" style="background-image: url(/images/footer_background.png)"></div>
        <div class="container">
          <div class="row footer_row">
            <!-- About Section -->
            <div class="col-lg-4 col-md-6 footer_col">
              <div class="footer_section footer_about">
                <div class="footer_logo_container">
                  <a href="#">
                    <div class="footer_logo_text">Physics<span>Verse</span></div>
                  </a>
                </div>
                <div class="footer_about_text">
                  <p>A virtual physics Lab. Explore the wonders of physics with PhysicsVerse.</p>
                </div>
                <div class="footer_social">
                  <ul>
                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
    
            <!-- Useful Links Section -->
            <div class="col-lg-3 col-md-6 footer_col">
              <div class="footer_section footer_links">
                <div class="footer_title">Useful Links</div>
                <div class="footer_links_container">
                  <ul>
                    <li><a href="#" id="footer_home">Home</a></li>
                    <li><a href="#" id="footer_about">About Us</a></li>
                    <!-- <li><a href="#" id="footer_courses">Experiments</a></li> -->
                    <li><a href="#" id="footer_contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="col-lg-5 col-md-12 footer_col">
              <div class="footer_section footer_contact">
                <div class="footer_title">Contact Us</div>
                <div class="footer_contact_info">
                  <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Tuba Jabeen | Isha Eman</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +92-3345605064 | +92-3019575969</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> fa21-bcs-033@cuiatk.edu.pk |
                      fa21-bcs-046@cuiatk.edu.pk</li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- Close footer_row -->
    
          <!-- Copyright Section -->
          <div class="row">
            <div class="col">
              <div class="footer_copyright">
                <p>&copy; 2025 PhysicsVerse. All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap JS Bundle -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<!-- Local JavaScript files -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="/bootstrap4/popper.js"></script>
<script src="/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/greensock/TweenMax.min.js"></script>
<script src="/plugins/greensock/TimelineMax.min.js"></script>
<script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/plugins/greensock/animation.gsap.min.js"></script>
<script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>

<script>
    document.querySelectorAll('.toggle-password').forEach(item => {
    item.addEventListener('click', function () {
        const input = document.querySelector(this.getAttribute('toggle'));
        const icon = this.querySelector('i');
        if (input.getAttribute('type') === 'password') {
            input.setAttribute('type', 'text');
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            input.setAttribute('type', 'password');
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    });
});
</script>

  </body>
</html>
