
html {
  overflow: auto;
  box-sizing: border-box;
  font-size: 62.5%;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#tourContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden; 
  opacity: 0; 
  transition: visibility 0.3s, opacity 0.3s; 
}

#tourContainer.active {
  visibility: visible;
  opacity: 1; 
}

#startTourBtn {
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #041f3d;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

#startTourBtn:hover {
  background-color: #031121;
  transform: scale(1.05); 
}


.blur {
  filter: blur(0.5rem);
  pointer-events: none; 
}

/* Tooltip styles */
[data-intro] {
  position: relative;
  cursor: pointer;
}

[data-intro]::after {
  content: attr(data-intro);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  white-space: nowrap;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  pointer-events: none;
  width: auto;
  text-align: left;
}

[data-intro]:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Position adjustments for specific elements */
.tuning-fork[data-intro]::after {
  bottom: auto;
  top: 100%;
  left: 50%;
}

.controls[data-intro]::after,
.output-container[data-intro]::after,
.exp-tools[data-intro]::after,
.forks[data-intro]::after,
#length-vs-freq-chart[data-intro]::after,
.checkBoxex[data-intro]::after,
.canvasButton[data-intro]::after {
  bottom: auto;
  top: 100%;
  left: 50%;
}

#ResonanceTubeCanvas[data-intro]::after {
  bottom: auto;
  top: 100%;
  left: 50%;
  width: 300px;
  white-space: normal;
}
 




#scaleIcon {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background: orange;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

#scale {
  position: relative;
  width: 100%;
  height: 100%;
  background: orange;
}

.selected-fork {
  border: 0.2rem solid #7569fa; /* Highlight color */
  border-radius: 5rem;
  box-shadow: 0 0 1rem rgba(0, 123, 255, 0.5);
}

/* Navigation Bar */
.navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #333;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.05);
  background: #112d42df; 
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.home-button {
  margin-left: 1.5rem;
}

.home-button img {
  width: 2.4rem;
  height: 2.4rem;
}

.tabs {
  display: flex;
  height: 100%;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  transition: background-color 0.3s;
}

.tab:hover {
  color: #acb0bb;
}

.tab.active {
  color: #384158;
  background: #14bdee;
}


.logo {
  margin-right: 1.5rem;
}

.logo img {
  height: 3rem;
}


/* --- Background Design --- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  position: relative;
  background: linear-gradient(to bottom, #e3f2fd, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Add wave pattern to the background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('https://www.transparenttextures.com/patterns/wave.png') repeat;
  opacity: 0.7; /* Subtle effect */
}


/* --- Controls Section --- */
.controls {
  position: absolute;
  top: 1rem;
  right: 0rem;
  width: 20%;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0rem 0.5rem 1rem rgba(119, 116, 116, 0.731);
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  /* max-width: 28rem; */
}

.input-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.input-group .arrow-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group input[type="range"] {
  flex: 1;
  margin: 0 0.1rem;
}

.input-group .arrow-buttons button {
  border: none;
  background-color: #568e9dcf;
  color: white;
  padding: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.input-group .arrow-buttons button:hover {
  background-color: #0056b3;
}

.limits {
  display: flex;
  justify-content: space-between;
  /* font-size: 1rem; */
  color: #666;
}

.input-value {
  margin-top: 0.3rem;
  /* font-size: 1.2rem; */
  text-align: center;
  color: #333;
}

.controls-button {
  padding: 0.9rem;
  background-color: #111438f9;
  color: white;
  box-shadow: 0rem 0.5rem 1rem rgba(31, 31, 40, 0.731);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.controls-button:hover {
  background-color: #043776a4;
}

.reset-button {
  /* color: white; */
  background-color: #730f19;
  /* margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 1rem; */
}

.reset-button:hover {
  background-color: #730f19d5;
}


 
#length-vs-freq-chart {
  position: absolute;
  display: flex;
  width: 35rem;
  flex-direction: column;
  top: 25rem;
  left: 1%;
  margin: 0 auto;
  height: 20rem;
  background-color: #f9f9f9;
  color: #000;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
}

/* --- Canvas --- */


#ResonanceTubeCanvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.exp-tools{
  position: absolute;
  width: 30rem;
  height: 50rem;
  bottom: 16rem;
  left: 48%;
  border: none;
}

.base {
width: 16rem;
height: 1.5rem;
background-color: #8b4513;
position: absolute;
bottom: 0.2rem;
left: 40%;
transform: translateX(-50%);
border-radius: 0.5rem;
box-shadow: inset 0rem -0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.clamp-stand {
position: absolute;
bottom: 1.45rem;
left: 18%;
width: 1rem;
height: 38rem;
background-color: #696969;
border-radius: 0.5rem;
box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}


.clamp-holder {
position: absolute;
width: 12rem;
height: 1rem;
background-color: #696969;
bottom: 38rem;
left: 20%;
border-radius: 0.5rem;
box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.beaker {
position: absolute;
bottom: 1.55rem;
left: 25%;
/* bottom: 17.4rem; */
width: 10rem;
height: 20rem;
border: 0.2rem solid #000;
overflow: hidden;
border-radius: 1rem;
background: linear-gradient(to bottom, #ebeaea, #ffffff);
/* left: 52%; */
box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.water {
position: absolute;
bottom: 0;
width: 100%;
height: 75%;
background: linear-gradient(to top, #0099ff, #00bfff);
box-shadow: inset 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}


.tube {
position: absolute;
bottom: 17rem;
left: 30%;
transform: translateX(0);
height: 24rem;
width: 2rem;
border: 0.2rem solid #696969;
border-radius: 0.5rem;
background: transparent;
box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
z-index: 1;
overflow: hidden;
pointer-events: auto;
}


.tube-water {
position: absolute;
bottom: 0;
width: 100%;
height: 0;
background: linear-gradient(to top, #0099ff, #00bfff);
box-shadow: inset 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
transition: height 0.3s ease, filter 0.3s ease;
}

/* --- Vibration Animation --- */
@keyframes vibration {
  0% { transform: translateY(-0.2rem); }
  50% { transform: translateY(0.2rem); }
  100% { transform: translateY(-0.2rem); }
}


/* --- Tuning Forks --- */
.forks {
  position: absolute;
  bottom: 2rem;
  left: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 35%;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(61, 44, 44, 0.4), inset -0.2rem -0.2rem 0.5rem rgba(255, 163, 163, 0.3);
  box-sizing: border-box;
  overflow-x: auto;
  font-size: 1rem;
}

.forks label{
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  margin-top: 5rem;
}
.tuning-fork1, .tuning-fork2, .tuning-fork3, .tuning-fork4  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  min-width: 5rem; 
}

/* Tuning Fork 1 */
.tuning-fork1 .handle {
  width: 2rem;
  height: 1.3rem;
  background: linear-gradient(to bottom, #b33b3b, #640202);
  border-radius: 0.3rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.4), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.tuning-fork1 .prong-container {
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  gap: 0.45rem;
  margin-right: -1rem;
}

.tuning-fork1 .prong {
  width: 3rem;
  height: 0.65rem;
  background: linear-gradient(to bottom, #b33b3b, #640202);
  border-radius: 0.3rem;
  box-shadow: inset 0.2rem 0.2rem 0.3rem rgba(255, 255, 255, 0.5), inset -0.2rem -0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}

/* Tuning Fork 2 */
.tuning-fork2 .handle {
  width: 2.5rem;
  height: 1.5rem;
  background: linear-gradient(to bottom, #3a3fbc, #070a55);
  border-radius: 0.3rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.4), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.tuning-fork2 .prong-container {
  display: flex;
  flex-direction: column;
  width: 5rem;
  gap: 0.6rem;
  margin-right: -0.9rem;
}

.tuning-fork2 .prong {
  width: 4.5rem;
  height: 0.7rem;
  background: linear-gradient(to bottom, #3a3fbc, #070a55);
  border-radius: 0.3rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.5), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* Tuning Fork 3 */
.tuning-fork3 .handle {
  width: 3.2rem;
  height: 2rem;
  background: linear-gradient(to bottom, #333333, #191818);
  border-radius: 0.3rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.4), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.tuning-fork3 .prong-container {
  display: flex;
  flex-direction: column;
  width: 4rem;
  gap: 1rem;
  margin-right: 0.2rem;
}

.tuning-fork3 .prong {
  width: 5rem;
  height: 0.9rem;
  background: linear-gradient(to bottom, #333333, #101010);
  border-radius: 0.3rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.5), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* Tuning Fork 4 */
.tuning-fork4 .handle {
  width: 4.5rem;
  height: 2.25rem;
  background: linear-gradient(to bottom, #7c6d01, #464001);
  border-radius: 0.5rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.4), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.tuning-fork4 .prong-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: -0.5rem;
}

.tuning-fork4 .prong {
  width: 6.3rem;
  height: 1.1rem;
  background: linear-gradient(to bottom, #7c6d01, #464001);
  border-radius: 0.5rem;
  box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.5), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.tuning-fork {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
right: 25%;
bottom: 48rem;
}

.tuning-fork .handle {
height: 1.3rem;
width: 3.5rem;
background: linear-gradient(to bottom, #888, #444);
border-radius: 0.4rem;
box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.4), inset -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.tuning-fork .prong-container {
display: flex;
flex-direction: column;
align-items: center;
margin-right: -1rem;
gap: 0.3rem;
}

.tuning-fork .prong {
height: 1rem;
width: 5rem;
background: linear-gradient(to bottom, #888, #999);
border-radius: 0.5rem;
box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.5), inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}


.canvasButton button{
position: absolute;
top: 61%;
right: 1%;
display: flex;
flex-direction: column;
font-size: 1.4rem;
background-color: #3e6069f1;
color: #ffffff;
box-shadow: 0rem 0.5rem 1rem rgba(31, 31, 40, 0.731);
border: none;
border-radius: 1rem;
cursor: pointer;
padding: 1.3rem;
}

.checkBoxex{
position: absolute;
top: 70%;
right: 1.4%;
display: flex;
flex-direction: column;
font-size: 1.35rem;
}
/* --- Output Section --- */
.output-container {
  position: absolute;
  top: 6rem;
  left: 1rem;
  display: flex;
  color: rgb(30, 53, 69);
  align-items: center;
  flex-direction: column;
  background-color: #61919f;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(61, 44, 44, 0.4), inset -0.2rem -0.2rem 0.5rem rgba(65, 36, 36, 0.3);
  font-weight: bold;
  font-size: 1.4rem;
  /* max-width: 25rem;  */
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0d8f0f4;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

/* --- Table Section --- */
#tableContainer{
  display: flex;
  overflow-x: auto;
  position: absolute;
  bottom: -23rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 100rem;
  text-align: center;
  justify-content: center;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 2rem;
border: 0.1rem solid black;
table-layout: auto;
}

th, td {
padding: 0.5rem;
border: 0.1rem solid #ddd;
text-align: center;
font-size: 1.2rem;
}

th {
background-color: #aeabab;
font-weight: bold;
}

table input{
font-size: 1.4rem;
width: 10rem;
}

#saveInDB{
padding: 1rem;
background-color: #111438f9;
color: white;
border: none;
border-radius: 0.5rem;
cursor: pointer;
margin: 2rem;
margin-left: 45%;
}
/* --- Media Queries for Responsive Design --- */

@media (min-width: 1200px) {
  html {
    font-size: 60%; 
  }

}


@media(max-width: 1200px)and (min-width: 768px) {
  .html{
    font-size: 50%;
  }
  body{
    font-size: 0.8rem;
  };
  .tuning-fork{
    right: 35%;
    bottom: 43rem;
  }
  
  .forks{
    width: 50%;
    height: 10rem;
    overflow: scroll;
  }

  .tuning-fork1, .tuning-fork2, .tuning-fork3, .tuning-fork4 {
    margin: 0.5rem;
    min-width: 4.5rem;
  }

  .exp-tools {
    width: 25rem;
    height: 45rem;
    left: 40%;
    bottom: 16rem;
  }

  .controls {
    width: 20rem;
    padding: 0.8rem;
  }

  .output-container {
    top: 2rem;
    left: 0%;
    font-size: 1.2rem;
    width: 20rem;
  }

  table {
    font-size: 0.9rem;
    align-items: center;
    margin-left: 1rem;
    overflow: hidden;
  }

}

@media (max-width: 767px) and (min-width: 200px) {

  .html{
    font-size: 50%;
    }
  
    .tuning-fork{
      right: 8%;
      bottom: 40rem;
    }
  
    .forks{
      width: 95%;
      height: 8rem;
      overflow: scroll;
      top: 0;
      font-size: 0.5rem;
    }
  
    .tuning-fork1, .tuning-fork2, .tuning-fork3, .tuning-fork4 {
      margin: 0.35rem;
    }
  
    .exp-tools {
      width: 30rem;
      height: 50rem;
      left: 5%;
      bottom: 15rem;
    }
  
    .controls {
      top: 85%;
      font-size: 0.8rem;
      width: 100%;
      padding: 0.6rem;
      display: flex;
      flex-direction: row;
      left: 0;
      gap: 1rem;
      overflow:auto;
      margin-right: 0.5rem;
    }
  
    .controls-button{
      font-size: 1rem;
      padding: 0.8rem;
      margin-right: 0.5rem;
    }
    .canvasButton button{
      font-size: 0.9rem;
      top: 63%;
    }
    .output-container {
      font-size: 0.97rem;
      top: 130%;
      left: 0%;
      width: 87%;
      margin-top: 1rem;
      margin-left: 1rem;
    }
  
    table {
      font-size: 0.8rem;
      overflow-x: auto;
    }
    #length-vs-freq-chart{
       width: 90%;
       top: 100%;
      margin-left: 1.2rem;
    }
    #tableContainer{
      top: 150%;
      bottom: -60rem;
      margin-bottom: 2rem;
      max-width:38rem;
      font-size: 0.7rem;
      /* overflow-x: hidden; */

    }

    table {
      overflow-x: hidden;
      margin: 1rem;
    }
    th, td {
      font-size: 0.6rem;
      }
      table input{
        font-size: 0.6rem;
        width: 3rem;
        }
}

/* @media (max-width: 480px)and (min-width: 320px)  {

  .html{
  font-size: 10.5%;
  }

  .tuning-fork{
    right: 8%;
    bottom: 40rem;
  }

  .forks{
    width: 95%;
    height: 8rem;
    overflow: scroll;
    top: 0;
    font-size: 0.5rem;
  }

  .tuning-fork1, .tuning-fork2, .tuning-fork3, .tuning-fork4 {
    margin: 0.35rem;
  }

  .exp-tools {
    width: 30rem;
    height: 50rem;
    left: 5%;
    bottom: 15rem;
  }

  .controls {
    top: 85%;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    left: 0;
    gap: 1rem;
    overflow:auto;
    margin-right: 0.5rem;
  }

  .controls-button{
    font-size: 1rem;
    padding: 0.8rem;
    margin-right: 0.5rem;
  }
  .canvasButton button{
    font-size: 0.9rem;
    top: 63%;
  }
  .output-container {
    font-size: 0.97rem;
    top: 130%;
    left: 0%;
    width: 87%;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  table {
    font-size: 0.8rem;
    overflow-x: auto;
  }
  #length-vs-freq-chart{
     width: 90%;
     top: 100%;
    margin-left: 1.2rem;
  }
} */
